/* Defalut ends */
a,
span,
::before,
::after {
  display: inline-flex;
  color: inherit;
  /*   Due to bootstrap styles: */
  text-decoration: none !important;
}

a:hover {
  color: inherit;
}



html {}

body {
  background-color: var(--colorBackground);
  color: var(--colorMain);
  font-family: 'Roboto';
  font-size: 1.6rem;
}

/* Spacing */
.distance-bottom-small {
  margin: 0 0 25px 0;
}

/* Styles */

/* Logo */
.logo {
  font-size: 1.875rem;
  font-weight: 900;
  line-height: 1;
  position: relative;
}

.logo-begin::before {
  content: '';
  background: url('../img/logo-leave.png') 0 0 / cover no-repeat;
  width: 19px;
  height: 31px;
  position: absolute;
  top: -23px;
  left: 67px;
}

.logo::after {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: var(--colorNavAccent);
  position: absolute;
  bottom: -9px;
  left: 0;
  opacity: 0;
  transition: width .1s, opacity .1s .1s;
}

.logo:hover:after,
.logo:focus:after {
  width: 100%;
  opacity: 1;
  transition: opacity .1s, width .1s .1s;
}

.logo-mid {
  font-weight: 300;
  margin: 0 20px 0 7px;
}

.logo-end {
  font-size: 1.456rem;
  font-weight: 500;
  letter-spacing: 0.4em;
}

/* Buttons */
.btn-general {
  padding: 8.5px 0;
  border: 2px solid var(--colorButtonBorder);
  font-size: 1rem;
  font-weight: normal;
  background-color: var(--colorButtonBright);
  border-radius: 9999px;
  text-transform: lowercase;
  width: 160px;
  white-space: nowrap;
}

.btn-general-accent {
  font-weight: bold;
}

.btn-general-selected {
  background-color: var(--colorAccent);
  color: var(--colorButtonBright);
  border: none;
}

.btn-general:hover,
.btn-general:focus {
  background-color: var(--colorAccent);
  color: var(--colorButtonBright);
  border: none;
}