/* Fonts */
@import 'fonts.css';
/* Variables */
@import 'variables.css';
/* Base*/
@import 'base.css';

/* Styles */

/* Header */
.header {
  position: absolute;
  width: 100%;
  z-index: 99999;
}

.header-container {
  padding: 34px 60px;
}

.header nav {
  width: 100%;
}

.nav-bar {
  margin: 0;
  list-style: none;
  color: var(--colorMain);
}

.nav-bar-item {
  font-size: 1.066rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 15px;
  position: relative;
}

.nav-bar-item::before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--colorNavAccent);
  position: absolute;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: .1s;
}

.nav-bar-item:hover::before,
.nav-bar-item:focus::before {
  opacity: 1;
  transition: .1s;
}

.nav-cart {
  background: url('../img/nav-cart.png') 0 0/ cover no-repeat;
  width: 29px;
  height: 26px;
  border: none;
  padding: 0;
  position: relative;
  z-index: 0;
}

.nav-cart::before {
  content: attr(data-count);
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-color: var(--colorNavAccent);
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.nav-summ {
  font-size: 1.066rem;
  font-weight: 500;
  margin: 0 48px 0 14px;
  width: 50px;
}

.nav-burger {
  background: url('../img/nav-burger.png') 0 0 / cover no-repeat;
  width: 28px;
  height: 26px;
  border: none;
  padding: 0;
}

/* Hero */
.hero {
  position: relative;
}

.hero-container {
  position: absolute;
  z-index: 9999;
  width: 100%;
  margin: 0 auto;
  padding: 0 75px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.hero-left {
  transform: rotate(-90deg) translate(-150%, -200%);
  white-space: nowrap;
  transform-origin: 50% 0;
}

.hero-left-text {
  font-size: 0.938rem;
  font-weight: 500;
  margin: 0;
  display: flex;
  align-items: center;
  padding: 0;
}

.hero-left-text::before {
  content: '';
  width: 70px;
  height: 1px;
  background-color: var(--colorDetails);
  margin: 0 8px 0 0;
}

.hero-picture {
  position: relative;
}

.hero-picture::after {
  position: absolute;
  content: '100% Guarantee';
  font-size: 1rem;
  font-style: italic;
  bottom: 12px;
  left: 55%;
  white-space: nowrap;
}

.hero h1 {
  font-weight: 300;
  font-size: 4.375rem;
}

.hero-title-accent {
  font-weight: bold;
}

.hero-mid-text {
  font-size: 0.938rem;
  font-weight: 500;
  letter-spacing: 0.2em;
  margin-bottom: 80px;
}

.hero-btn {
  padding: 8px 34px;
  border-radius: 99999px;
  font-size: 1rem;
  color: var(--colorHeroButton);
  text-transform: uppercase;
  font-weight: normal;
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%) padding-box, linear-gradient(to top, #4FC3D8 0%, #B3D597 100%) border-box;
  border: 5px solid transparent;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background: linear-gradient(to top, #4FC3D8 0%, #B3D597 100%) border-box;
}

.hero-btn-text-accent {
  font-weight: bold;
  margin-right: 5px;
}

.hero-social a {
  font-size: 0.938rem;
  color: var(--colorDetails);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid var(--colorDetails);
  margin: 5px 0 5px 0;
}

.hero-social::after {
  content: '';
  width: 1px;
  height: 70px;
  background-color: var(--colorDetails);
}

.hero-slider {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.hero-slider-slide {
  background: url('../img/hero-slider.jpg') center center / cover no-repeat;
  padding: 198px 0 330px 0;
  position: relative;
}

.hero-slider-slide::after {
  content: '';
  width: 250px;
  height: 40px;
  background-color: var(--colorBackground);
  clip-path: ellipse(50% 50% at 50% 110%);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.hero-bottom {
  position: absolute;
  bottom: 65px;
  left: 0;
  margin: 0 auto;
  padding: 0 65px;
  z-index: 10;
  width: 100%;
}


.hero-slider-navigation {
  height: auto;
  padding-right: 15px;
  position: relative;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  width: 35px;
  height: 24px;
  background-color: var(--colorButtonBright);
  font-size: 0.625rem;
  color: var(--colorHeroSliderArrows);
  position: static;
}

.swiper-button-prev {
  border-radius: 999px 0 0 999px;
  margin-right: 1px;
}

.swiper-button-next {
  border-radius: 0 999px 999px 0;
}

.hero-lower {
  font-size: 0.935rem;
  color: var(--colorHeroBottom);
  padding-left: 15px;
}

.hero-lower-left {
  font-weight: 900;
}

.hero-lower-mid {
  font-weight: normal;
  margin: 0 4px
}

.hero-lower-right {
  color: var(--colorHeroBottomAccent);
  font-style: italic;
}

.hero-lower:after {
  content: '';
  width: 60px;
  height: 1px;
  color: var(--colorDetails);
  margin-left: 12px;
}

/* Products */
.product-btns {
  padding: 30px 0;
}

.products-container {
  padding: 15px 75px;
}

.products-slider {
  padding: 5px 15px
}

.products-slider-slide {
  width: 240px;
  height: 420px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
  margin-right: 30px;
}

.products-pic img {
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.products-name {
  font-size: 1.25rem;
  color: var(--colorProductsCardText);
  margin-bottom: 9px;
}

.products-price {
  color: var(--colorProductsCardPrice);
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
  margin-bottom: 45px;
}

.products-price-line {
  /* ????????????????????????? */
  text-decoration: line-through !important;
  color: var(--colorHeroBottom);
}