:root {
  --colorBackground: #ffffff;
  --colorMain: #333333;
  --colorAccent: #81ba00;
  --colorDetails: #bbbbbb;
  --colorHeroButton: #444444;
  --colorNavAccent: #7FBC00;
  --colorButtonBorder: #d8d8d7;
  --colorButtonBright: #ffffff;
  --colorHeroSliderArrows: #9f9f9f;
  --colorHeroBottom: #888888;
  --colorHeroBottomAccent: #79B100;
  --colorProductsCardName: #525252;
  --colorProductsCardPrice: #7FBB00;
  --colorAboutBg: #F7F6F2;
  --colorAboutCardText: #525252;
  --colorFreshCardEl: #EEEEEE;
}