:root {
  --colorBackground: #ffffff;
  --colorMain: #333333;
  --colorAccent: #81ba00;
  --colorDetails: #bbbbbb;
  --colorHeroButton: #444444;
  --colorNavAccent: #7FBC00;
  --colorButtonBorder: #d8d8d7;
  --colorButtonBright: #ffffff;
}